body{
    background-color: #000;
    background-image: url("../imgs/fond_Blur.png");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}
main,header{
    font-family: 'Poppins', sans-serif;    
}

/**/
h1{
    color: #fff;
    padding: 20px 100px;
}
div{
    max-width: 1400px;
}
main img{
    width: 400px;
}
article .hover {
    display: none;
    position: absolute;
    top: 18.7px;
    left: 0;
}
article{
    position: relative;
}
article:hover .hover {
    display: inline;
}
/*Grand écran*/
@media screen and (min-width: 1101px){
    .recherche{   
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 0 auto;
    }
    article{   
        grid-template-columns: repeat(2,1fr);
        margin: 0 auto;
    }
    footer{
        text-align: center;   
    }
    footer>nav:first-child>a{
        padding-left: 150px;
    }
    footer>nav{
        margin: 20px 0;
    }
    footer>nav:nth-child(2){
        padding-left: 20px;
    }
}
/*écran réduit*/
@media screen and (max-width: 1100px){
    .recherche{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
    article{   
        grid-template-columns:1fr;
        margin: 0 auto;
    }
    footer>nav:first-child{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;       
    }
    footer>nav>a{
        line-height: 2.5em;
        grid-template-columns:1fr;
        margin: 0 auto;  
        text-align: center;     
    }
    footer>nav:nth-child(2){
        text-align: center;
    }
}