body{
    background-color: #000;
    background-image: url("../imgs/karen-zhao-jLRIsfkWRGo-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

header>nav>a:first-child>img{
    width: 200px;
}
header>nav>a:nth-child(n+4)>img{
    margin-top: 20px;
    padding: 0 20px;
    width: 40px;
}
header>nav>a:nth-child(n+4){
    float: right;
}



/*Navigation : https://codepen.io/sreisner/pen/yOOOjx */
.nav-link {
    font-weight: 200;
    font-size: 150%;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px 0;
    margin: 15px 50px;
    display: inline-block;
    position: relative;
}
  
.nav-link:hover {
    color: #C60A28;
}
.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #C60A28;
}
.nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    top: 0px;
}
  
.nav-link-grow-up:hover::before {
    height: 5px;
}
nav a {
    display: inline;
}

/*recherche*/
.search-container{
    margin: 20px 20px;
    float: right;
}
nav input[type=text] {
    padding: 6px;
    font-size: 17px;
}
input:not(hover){
    background-color: #000;
    border:solid 2px #666;
    color: #666;
    border-radius: 30px;
}
input:focus,button:focus{
    outline: none;
}
input:focus{
    border:solid 2px #C60A28;
}
button{
    border: none;
    width: 50px;
    vertical-align: middle;
    background-color: #000;
}
.search-container{
    margin: 20px 20px;
    float: right;
}
nav input[type=text] {
    padding: 6px;
    font-size: 17px;
}
input:not(hover){
    background-color: #000;
    border:solid 2px #666;
    color: #666;
    border-radius: 30px;
}
input:focus,button:focus{
    outline: none;
}
input:focus{
    border:solid 2px #C60A28;
}
button{
    border: none;
    width: 50px;
    vertical-align: middle;
    background-color: #000;
}
/**/
header{
    background-color : #000;
    position: sticky;
    top: 0px;
}
main{
    max-width: 1300px;
    margin: auto;
}
main img:first-child{
    display: block;
    width: 500px;
    margin: 180px auto 650px auto;
}
h1 {
    font-weight: 700;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    color: #FFF;
}
h1:first-of-type::after{
    content: url("../imgs/Star.svg");
    display: inline-block;
    width: 20px;
}
h1:before{
    content: "";
    position: absolute;
    width: 25%;
    height: 1px;
    bottom: 0;
    border-bottom: 5px solid red;
}
h2,h3{
    margin-top: 0;
    color: #FFF;
    font-weight: 200;
}
section>img{
    float: right;
    width: 50%;
}

@media screen and (min-width:1200px){
    footer{
        text-align: center;   
    }
    footer>nav:first-child>a{
        padding-left: 150px;
    }
    footer>nav{
        margin: 20px 0;
    }
    footer>nav:nth-child(2){
        padding-left: 20px;
    }
}