/* --------- Global --------- */

body{
    background-color: #000;
    background-image: url("../imgs/karen-zhao-jLRIsfkWRGo-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#about,header,#catalogue{
    font-family: 'Poppins', sans-serif;
}

#catalogue{
    width: 70%;
    margin: auto;
}


/* ************************** */
/* --------- HEADER --------- */

header>nav>a:first-child>img{
    width: 200px;
}

header>nav>a:nth-child(n+4)>img{
    margin-top: 20px;
    padding: 0 20px;
}
header>nav>a:nth-child(n+4){
    float: right;
}
.nav-link {
    vertical-align: middle;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    margin: 0 25px;
    display: inline-block;
    position: relative;
}
.nav-link:hover {
    color: #C60A28;
}
.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #C60A28;
}
.nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    top: 0px;
}

.nav-link-grow-up:hover::before {
    height: 5px;
}
form{
    display: inline-block;
}
header a>img{
    vertical-align: middle;
    margin-left: 40px;  
}

header form img{
    padding: 10px;
    border-radius: 40px;
}
header form img:hover{
    transition: 0.2s;
    background-color: #C60A28;
}
header .search-container{
    margin: 20px;
    float: right;
}
header nav input[type=text] {
    padding: 6px;
    font-size: 17px;
}
header input:not(hover){
    background-color: #000;
    border:solid 2px #666;
    color: #666;
    border-radius: 30px;
}
header input:focus,button:focus{
    outline: none;
}
header input:focus{
    border:solid 2px #C60A28;
}
header button{
    border: none;
    width: 50px;
    vertical-align: middle;
    background-color: transparent;
}
/* --------------- */
/* ************ INDEX ************ */
#index h1{
    text-align: center;
}
#index>h1>img{
    width: 500px;
    margin-top: 180px;
}

/* ************************ */

/* ************ ABOUT ************ */

#about h1, #about h3{
    color: #C60A28;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    margin-top: 150px;
}

#about h2,#about h4{
    color: #fff;
    text-align: center;
    font-weight: 400;
}

#about h4{
    color: #fff;
    text-align: center;
}
.genre p{
    font-variant: small-caps;
    color: #777;
    font-size: 40px;
}

.creators{
    color: #fff;
    text-align: center;
}
/* ************************ */

/* ************ CATALOGUE ************ */

.tendance{
    font-family: 'Poppins', sans-serif;
    background-image: url("../imgs/Séries/Catalogue/tendance.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center; 
    height: 400px;
    color: #fff;
    font-variant: small-caps;
    padding-left: 40px;
}
.tendance>h1{
    padding-top: 80px;
    font-weight: 400;
    letter-spacing: .2em;
    font-size: 15px;
}
.tendance>h2{
    margin: 0;
    font-weight: 700;
    letter-spacing: .15em;
    font-size: 90px;
}

.tendance button{
    border: none;
    border-radius: 30px;
    margin-top: 25px;
    padding: 10px 25px;
    font-weight: 600;
    letter-spacing: .1em;
    background-color: #fff;
    width: auto;
    font-size: 30px;
    font-variant: small-caps;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: .2s;
}
/* https://codepen.io/LeoPragi/pen/gzrGoG */
.tendance button:hover{
    box-shadow: 0px 15px 20px rgba(0,0, 0, .5);
    background-color: #C60A28;
    color: #fff;
    transform: translateY(-4px);
}

#catalogue section>div{
    margin-top: 100px;
    background-color: #080808;
    border-radius: 20px;
}

.container h3{
    position: relative;
    color: #fff;
    display: inline-block;
    margin: 20px;
    padding-bottom: 5px;
    font-size: 20px;
}

#catalogue h4{
    margin-top: 150px;
    color: #fff;
    font-size: 25px;
}
.container>a{
    text-decoration: none;
    color: #C60A28;
    float: right;
    margin: 15px 20px 0 0;
    font-weight: 400;
    transition: .2s;
    font-size: 13px;
}
.container a:hover{
    color: #fff;
}
#catalogue h3:before{
    content: "";
    position: absolute;
    width: 25%;
    height: 1px;
    bottom: -5px;
    border-bottom: 5px solid #C60A28;
}
.flex div>a>.hover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.flex div{
    position: relative;
}
.flex div:hover .hover{
    box-shadow: 0px 15px 20px rgba(0,0, 0, .5);
    display: inline;
}
.flex div:hover a>img:first-of-type{
    visibility: hidden;
}


/* ************************ */


/* ************************ */
@media screen and (max-width:992px){
    /* header */
    .nav-link{
        font-size: 120%;
    }
    nav img{
        width: 40px;
    }
    .search-container form{
        margin-right: 100px;
    }
    /* a propos */
    .illustration img:first-of-type{
        width: 100%;
    }
    .illustration img:nth-of-type(2){
        margin: auto;
    }
    .illustration{
        text-align: center;
    }
    /* catalogue */
    .tendance h2{
        font-size: 300%;
    }
    .tendance{
        margin-top: 150px;
    }

    .container img{
        width:200px;
    }
    .nouveautes,.action{
        display: grid;
        grid-template-columns: 1fr;
    }
    .drames{
        display: grid;
        grid-template-columns:1fr;
    }
    .categorie{
        display: grid;
        grid-template-columns:1fr;
        gap: 100px;
    }
    .sf{
        display: grid;
        grid-template-columns: 1fr;
    }
    .flex div   {    
        margin: 20px auto;
    }
    /* footer */
    footer>nav:first-child{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;       
    }
    footer>nav>a{
        line-height: 2.5em;
        grid-template-columns:1fr;
        margin: 0 auto;  
        text-align: center;     
    }
    footer>nav:nth-child(2){
        text-align: center;
    }

}

@media screen and (max-width:1199px){
    .creators{
        display: grid;
        grid-template-columns: 1fr;
    }
    .genre{
        text-align: center;
    }
}

@media screen and (max-width:1199px) and (min-width:993px){
    footer a{
        font-size: 15px;
        padding-left: 50px;
    }
    footer{
        text-align: center;
        margin: auto;
    }
    .container img{
        width:200px;
        margin: auto;
    }
    .container{
        margin: 50px;
    }
    .nouveautes,.action,.drames,.sf{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .flex div{
        margin: auto;
    }
    /* header */
    .nav-link{
        font-size: 120%;
    }
    nav img{
        width: 40px;
    }
    .search-container form{
        margin-right: 200px;
    }
    .tendance{
        margin-top: 150px;
    }
}


@media screen and (min-width:1199px){
    /* header */
    .nav-link{
        font-size: 120%;
    }
    nav img{
        width: 40px;
    }

    .redbar{
        margin-top: 450px;
        width: 100%;
        height: 200px;
        background-color: #C60A28;
    }
        
    .illustration>img:first-of-type{
        width: 800px;
        position: absolute;
        top: 450px;
        left: 150px;
    }
    .illustration>img:nth-of-type(2){
        position: absolute;
        width: 200px;
        top: 450px;
        right: 300px;
    }
    .genre div{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }   
    footer{
        text-align: center;   
    }
    footer>nav:first-child>a{
        padding-left: 150px;
    }
    footer>nav{
        margin: 20px 0;
    }
    footer>nav:nth-child(2){
        padding-left: 20px;
    }
    .creators{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 50%;
        margin: auto;
    }
    .creators p{
        display: inline;
        font-size: 20px;
    }
    .creators p:nth-of-type(1)::after{
        content : " // ";
        font-weight: 800;
        color: #C60A28;
    }
    /* catalogue */
    #catalogue .container img{
        width: 150px;
    }
    .flex img,.hover{
        width: 150px;
    }
    .nouveautes,.action{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .nouveautes div, .action div{
        margin: 30px auto;
    }
    .drames{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .drames div{
        margin: 30px auto;
    }
    .categorie{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 100px;
    }
    .sf{
        display: grid;
        grid-template-columns: 1fr;
    }
    .sf div{    
        margin: 20px auto;
    }
}


/*------FOOTER------*/

footer>nav:first-child>a>img{
    width: 130px;
}
footer>nav:nth-child(2)>a>img{
    width: 50px;
}
footer{
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    margin-top: 300px;
    padding-top: 10px;
}
footer>nav>a{
    color: #fff;
    text-decoration: none;
}
footer>h4{
    padding-top: 10px;
    text-align: center;
    border-top: solid 1px #565656;
    font-weight: 300;
    color: #565656;
}
footer>nav:nth-child(2) img:hover{
    transition: 0.2s;
    border-radius: 50px;
    background-color: #C60A28;
}
/* --------------- */