/* --------- Global --------- */

#background{
    background-image: url("../imgs/fond_Blur.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
body{
    background-color: #000;
}


*{
    font-family: 'Poppins', sans-serif;
}

#catalogue{
    width: 70%;
    margin: auto;
}


/* ************************** */
/* --------- HEADER --------- */

header>nav>a:first-child>img{
    width: 200px;
}

header>nav>a:nth-child(n+4)>img{
    margin-top: 20px;
    padding: 0 20px;
}
header>nav>a:nth-child(n+4){
    float: right;
}
.nav-link {
    vertical-align: middle;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    margin: 0 25px;
    display: inline-block;
    position: relative;
}
.nav-link:hover {
    color: #C60A28;
}
.nav-link::before {
    transition: 300ms; /* https://developer.mozilla.org/fr/docs/Web/CSS/transition */
    height: 5px;
    content: "";
    position: absolute;
    background-color: #C60A28;
}
.nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    top: 0px;
}

.nav-link-grow-up:hover::before {
    height: 5px;
}
form{
    display: inline-block;
}
header a>img{
    vertical-align: middle;
    margin-left: 40px;  
}

header form img, .search-container a>img{
    padding: 10px;
    border-radius: 40px;
}
header form img:hover, .search-container a>img:hover{
    transition: 0.2s;/* https://developer.mozilla.org/fr/docs/Web/CSS/transition */
    background-color: #C60A28;
}
header .search-container{
    margin: 20px;
    float: right;
}
header nav input[type=text] {
    padding: 6px;
    font-size: 17px;
}
header input:not(hover){
    background-color: #000;
    border:solid 2px #666;
    color: #666;
    border-radius: 30px;
}
header input:focus,button:focus{
    outline: none;
}
header input:focus{
    border:solid 2px #C60A28;
}
header button{
    border: none;
    width: 50px;
    vertical-align: middle;
    background-color: transparent;
}
/* --------------- */
/* ************ INDEX ************ */
#index h2{
    text-align: center;
}
#index>h2>img{
    width: 500px;
    margin-top: 180px;
}

/* ************************ */

/* ************ ABOUT ************ */

#about h1, #about h3{
    color: #C60A28;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    margin-top: 150px;
}

#about h2,#about h4{
    color: #fff;
    text-align: center;
    font-weight: 400;
}

#about h4{
    color: #fff;
    text-align: center;
}
.genre p{
    font-variant: small-caps;
    color: #777;
    font-size: 40px;
}

.creators{
    color: #fff;
    text-align: center;
}
/* ************************ */

/* ************ CATALOGUE ************ */

.tendance{
    font-family: 'Poppins', sans-serif;
    background-image: url("../imgs/Séries/Catalogue/tendance.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center; 
    height: 400px;
    color: #fff;
    font-variant: small-caps;
    padding-left: 40px;
}
.tendance>h1{
    padding-top: 80px;
    font-weight: 400;
    letter-spacing: .2em; /* https://developer.mozilla.org/fr/docs/Web/CSS/letter-spacing */
    font-size: 15px;
}
.tendance>h2{
    margin: 0;
    font-weight: 700;
    letter-spacing: .15em; /* https://developer.mozilla.org/fr/docs/Web/CSS/letter-spacing */
    font-size: 90px;
}

.tendance a{
    display: inline-block;
    border: none;
    border-radius: 30px;
    margin-top: 30px;
    padding: 10px 25px;
    font-weight: 600;
    letter-spacing: .1em; /* https://developer.mozilla.org/fr/docs/Web/CSS/letter-spacing */
    background-color: #fff;
    width: auto;
    font-size: 30px;
    font-variant: small-caps;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: .2s;/* https://developer.mozilla.org/fr/docs/Web/CSS/transition */
    text-decoration: none;
    color: #000;
}
/* https://codepen.io/LeoPragi/pen/gzrGoG */
.tendance a:hover{
    box-shadow: 0px 15px 20px rgba(0,0, 0, .5);
    background-color: #C60A28;
    color: #fff;
    transform: translateY(-4px);
}

#catalogue section>div{
    margin-top: 100px;
    background-color: #080808;
    border-radius: 20px;
}

#catalogue .container h3{
    position: relative;
    color: #fff;
    display: inline-block;
    margin: 20px;
    padding-bottom: 5px;
    font-size: 20px;
}

#catalogue h4{
    margin-top: 150px;
    margin-bottom: 0;
    color: #fff;
    font-size: 25px;
}
.container>a{
    text-decoration: none;
    color: #C60A28;
    font-size: 13px;
    float: right;
}
.container a:hover{
    color: #fff;
}
#catalogue h3:before{
    content: "";
    position: absolute;
    width: 25%;
    height: 1px;
    bottom: -5px;
    border-bottom: 5px solid #C60A28;
}
.flex div>a>.hover{
    display: none;
    position: absolute;
    top: 0; /* https://developer.mozilla.org/fr/docs/Web/CSS/top */
    left: 0; /* https://developer.mozilla.org/fr/docs/Web/CSS/left */
}
.flex div{
    position: relative;
}
.flex div:hover .hover{
    box-shadow: 0px 15px 20px rgba(0,0, 0, .5);
    display: inline;
}
.flex div:hover a>img:first-of-type{
    visibility: hidden; /* https://developer.mozilla.org/fr/docs/Web/CSS/visibility */
}

/* ************************ */

/* ************ RECHERCHE ************ */

#recherche h1{
    color: #fff;
    padding: 20px 100px;
}

.rechercher{
    max-width: 1400px;
}

/* ************************ */

/* ************ SERIES ************ */

#serie h1{
    color: #fff;
    font-weight: 800;
    font-size: 80px;
    font-variant: small-caps;
}
#serie h2{
    color: #ddd;
    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
    font-size: 30px;
    font-weight: 100;
}
#serie h3{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-variant: small-caps;
    font-size: 40px;
}
#serie p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
}
/*Notation : https://codepen.io/s_crystal/pen/pJpMZX */
.rating {
    width: 150px;
    height: 30px;
    display: block;
    overflow: hidden;
}
.rating:not(:checked) > input {
    display: none;
}
#like:not(:checked) > label {
    cursor:pointer; /* https://developer.mozilla.org/fr/docs/Web/CSS/cursor */
    float: right;
    font-size: 40px;
    width: 30px;
    color: rgba(254, 152, 72, .4);
    line-height: 33px; /* https://developer.mozilla.org/fr/docs/Web/CSS/line-height */
}
#like:not(:checked) > label:hover,
#like:not(:checked) > label:hover ~ label {
    color: rgba(254, 152, 72, 1);
}
#like > input:checked + label:hover,
#like > input:checked + label:hover ~ label,
#like > input:checked ~ label:hover,
#like > input:checked ~ label:hover ~ label,
#like > label:hover ~ input:checked ~ label {
    color: rgba(254, 152, 72, .8);
}
#like > input:checked ~ label {
    color: rgb(254, 152, 72);
}
/**/

#serie .container {
    
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 20px 100px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}
/* https://codepen.io/lonekorean/pen/RPZZPe */
.favoris{
    display: inline;
}
.favoris input {
    display: none;
}
  
.favoris label {
    font-size: 20px;
    margin: 5px 20px;
    padding: 15px 30px 15px 62px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
.favoris label::before{
    content:url("../imgs/Icones/Heart.png"); /* https://developer.mozilla.org/fr/docs/Web/CSS/content */
    vertical-align: middle;
}

.favoris input:checked+label::before{
    content:url("../imgs/Icones/heartChecked.png");
}
.favoris input:checked+label{
    font-weight: 700;
}
  
.favoris input:checked + label {
    color: #C60A28;
}
  
.favoris input:checked  {
    background-color: #000;
} 

/* ma liste*/ 
.watchlater{
    display: block;
    text-align: center;
}
.watchlater input {
    display: none;
}
  
.watchlater label {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
.watchlater label::before{
    content:url("../imgs/Icones/watchlater.png"); /* https://developer.mozilla.org/fr/docs/Web/CSS/content */
    vertical-align: middle;
}

.watchlater input:checked+label::before{
    content:url("../imgs/Icones/watchlaterChecked.png");
}
.watchlater input:checked+label{
    font-weight: 700;
}

  
/*https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
#serie .container input {
    position: absolute;
    opacity: 0; /* https://developer.mozilla.org/fr/docs/Web/CSS/opacity */
    cursor: pointer;
}
#serie label.container{
    color: #fff;
}

.checkmark {
    border: solid 2px #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #222;
    border-radius: 50%;
}

#serie .container:hover input ~ .checkmark {
    background-color: #222;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

#serie .container input:checked ~ .checkmark:after {
    display: block;
}

#serie .container .checkmark:after {
    top: 8px;
    left: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}
/**/
/* https://codepen.io/lonekorean/pen/RPZZPe */
.parametres input {
    display: none;
}
  
.parametres label {
    font-size: 20px;
    margin: 5px 20px;
    padding: 15px 30px 15px 62px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    width: 80%;
    text-align: center;
}
.parametres label::before{
    content:url("../imgs/Icones/Heart.png");
    vertical-align: middle;
}

.parametres input:checked+label::before{
    content:url("../imgs/Icones/heartChecked.png");
}
.parametres input:checked+label{
    font-weight: 700;
}
  
.parametres input:checked + label {
    color: #C60A28;
}
  
.parametres input:checked  {
    background-color: #000;
} 
/**/
#serie p>.aime{
    display: inline;
}
.aime input {
    display: none;
}
  
.aime label {
    font-size: 20px;
    margin: 5px 20px;
    color: #fff;
    cursor: pointer;
    width: 80%;
    text-align: center;
}
.aime label::before{
    content:url("../imgs/Icones/like.png");
    vertical-align: middle;
}

.aime input:checked+label::before{
    content:url("../imgs/Icones/likeChecked.png");
}
.aime input:checked+label{
    font-weight: 700;
}
.rating,.parametres{
    display: inline-block;
}
#serie h4{
    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
    color: #fff;
    font-size: 35px;
    display: inline;
    vertical-align: middle;
}
#serie h5{
    margin-left: 20px;
    color: #828282;
    display: inline;

}
#serie textarea{
    background: #020202;
    border: none;
    color: #fff;
}
#serie textarea:focus{
    border: solid 1px #C60A28;
    outline: none;
}
textarea+button{
    cursor: pointer;
    border: solid 1px #C60A28;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: 400;
    color: #C60A28;
}
textarea+button:hover{
    background-color: #C60A28;   
    color: #fff;
}
#grid article button{
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: none;
}
#grid article button:hover{
    color: #C60A28;
}
.reply::before{
    content: url("../imgs/Icones/reply.png");
}
.reponse{
    margin-left:80px;
}
#grid article,aside{
    margin-top: 50px;
}
#grid aside:first-of-type+form>textarea{
    width: 100%;
}
/* ************************ */

/* ************ PARAMETRES ************ */


#parametres{
    width: 75%;
    margin: 0 auto;
}
#parametres aside>nav>a>img{
    display: inline-block;
    width: 35px;
    padding-right: 20px;
    vertical-align: middle;
    filter: brightness(0.5); /* https://developer.mozilla.org/fr/docs/Web/CSS/filter */
}
#parametres aside>nav>a{
    text-decoration: none;
    color: #5B5B5B;
    display: block;
    margin-top:35px;
}
#parametres aside>nav{
    width: 300px;
}
#parametres aside>nav>a:hover{   
    color: #fff;
    transition: .2s; /* https://developer.mozilla.org/fr/docs/Web/CSS/transition */
}
#parametres aside>nav>a:hover>img{
    filter: brightness(1); /* https://developer.mozilla.org/fr/docs/Web/CSS/filter */
}
#parametres aside{ 
    background-color: #000;
    padding: 20px;
    border-radius: 20px;
    height: 250px;
    float: left;
    margin-right: 100px;
}
.user>h2{
    font-weight: 700;
    font-size: 40px;
    color: #fff;
}
.contenu>h2{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-bottom: 200px;
    margin-top: 70px;
}
#parametres h3{
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    color: #555;
}
#parametres article img{
    float: left;
}
#parametres a.active {
    border-right: solid  #C60A28 5px;
    color: #fff;
}
#parametres a.active>img{
    filter: brightness(1);/* https://developer.mozilla.org/fr/docs/Web/CSS/filter */
}
.sauvegarder button{
    background-color: #C60A28;
    border: none;
    color: #fff;
    grid-column: 1 / 3; /* https://developer.mozilla.org/fr/docs/Web/CSS/grid-column */
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px 25px;
    font-weight: 600;
    letter-spacing: .1em;
    width: auto;
    font-size: 30px;
    font-variant: small-caps;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: .2s; /* https://developer.mozilla.org/fr/docs/Web/CSS/transition */
}
.sauvegarder button:hover{
    box-shadow: 0px 15px 20px rgba(1,1, 1, .5);
    background-color: #F4294A;
    transform: translateY(-4px); /* https://developer.mozilla.org/fr/docs/Web/CSS/transform */
}
.contenu>a{
    background-color: #C60A28;
    display:block;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    margin: auto;

}
.contenu>a:hover{
    background-color: #F4294A;
}
.contenu>a{
    text-align: center;
    font-variant: small-caps;
    font-size: 30px;
    font-weight: 600;

    text-decoration: none;
    color: #fff;
}
#parametres form div label{
    margin-top: 40px;
    display: block;    
}
#parametres form div input{
    max-width: 300px;
}
#parametres form div{
    margin: auto;
}
.element input{
    background-color: #111;
    border: none;
    color: #666;
}
#parametres .contenu{
    display: inline-block;
}
#parametres input:focus,button:focus{
    outline: none; /* https://developer.mozilla.org/fr/docs/Web/CSS/outline */
}
#parametres input{
    padding: 6px;
}

#parametres form{
    color: #fff;
    margin-top: 150px;
}
#parametres h4{
    color: #fff;
    text-align: center;
    font-weight: 400;
}
.switch {
    grid-column: 1;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
    margin-bottom: 40px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0; /* https://developer.mozilla.org/fr/docs/Web/CSS/right */
    bottom: 0; /* https://developer.mozilla.org/fr/docs/Web/CSS/bottom */
    background-color: #ccc;
    transition: .4s;/* https://developer.mozilla.org/fr/docs/Web/CSS/transition */
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 8px;
    bottom: 4px;
    background-color: white;
    transition: .4s;/* https://developer.mozilla.org/fr/docs/Web/CSS/transition */
}
#parametres input:checked + .slider {
    background-color: #C60A28;
}

#parametres input:focus + .slider {
    box-shadow: 0 0 1px #C60A28;
}

#parametres input:checked + .slider:before {
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
/*--------------*/
#parametres h6{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    grid-column: 2;
}
#parametres h6:first-of-type{
    grid-row: 1; /* https://developer.mozilla.org/fr/docs/Web/CSS/grid-row */
}
#parametres h6:nth-of-type(2){
    grid-row: 2;/* https://developer.mozilla.org/fr/docs/Web/CSS/grid-row */
}
#parametres h6:nth-of-type(3){
    grid-row: 3;/* https://developer.mozilla.org/fr/docs/Web/CSS/grid-row */
}

#parametres h1{
    color: #fff;
}
/* ************************ */

/* ************ INDEX ************ */
#index>h1{
    text-align: center;
    color: #fff;
    margin-bottom: 300px;
    font-weight: 200;
}

#index .container h2:first-of-type {
    font-weight: 700;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    color: #FFF;
}
#index section:first-of-type>h2:first-child::after{
    content: url("../imgs/Star.svg");
    display: inline-block;
    width: 20px;
}
#index section>h2:first-child:before{
    content: "";
    position: absolute;
    width: 25%;
    height: 1px;
    bottom: 0;
    border-bottom: 5px solid red;
}
#index h4,#index p{
    margin-top: 0;
    color: #FFF;
    font-weight: 200;
}
#index section{
    margin-left:60px;
}
.desc{
    color: #fff;
}

.container h3{
    color: #fff;
    font-size: 60px;
    margin: 40px auto 5px auto;
}
#index h2:first-of-type{
    font-size: 40px;
    color: #fff;
}

.recommandation img, .news img{
    width: 400px;
}
.recommandation aside .hover,  .news aside .hover{
    display: none;
    position: absolute;
    left: 0;
}
.recommandation aside, .news aside{
    position: relative;
}
.recommandation aside:hover .hover, .news aside:hover .hover{
    display: inline;
}


/* ************************ */

@media screen and (max-width:768px){
    .videoplayer,select{
        width: 100%;
    }
}

@media screen and (max-width:992px){
    /* header */
    .nav-link{
        font-size: 120%;
    }
    nav img{
        width: 40px;
    }
    .search-container form{
        margin-right: 100px;
    }
    /* catalogue */
    .tendance h2{
        font-size: 300%;
    }
    .tendance{
        margin-top: 150px;
    }
    /* a propos */
    .illustration img:nth-of-type(2){
        width: 30%;
    }

    #catalogue .container img{
        width:200px;
    }
    .nouveautes,.action{
        display: grid;
        grid-template-columns: 1fr;
    }
    .drames{
        display: grid;
        grid-template-columns:1fr;
    }
    .categorie{
        display: grid;
        grid-template-columns:1fr;
        gap: 100px; /* https://developer.mozilla.org/fr/docs/Web/CSS/gap */
    }
    .sf{
        display: grid;
        grid-template-columns: 1fr;
    }
    .flex div   {    
        margin: 20px auto;
    }
    /* footer */
    footer>nav:first-child{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;       
    }
    footer>nav>a{
        line-height: 2.5em;
        grid-template-columns:1fr;
        margin: 0 auto;  
        text-align: center;     
    }
    footer>nav:nth-child(2){
        text-align: center;
    }
}

@media screen and (max-width:1199px){
    /* a propos */
    .creators{
        display: grid;
        grid-template-columns: 1fr;
    }
    .genre{
        text-align: center;
    }
    .recherche{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
    #about article{   
        grid-template-columns:1fr;
        margin: 0 auto;
    }
    /* a propos */
    .illustration img{
        display: block;
        margin: 0 auto;
    }
    .illustration img:first-of-type{
        width: 100%;
    }
    .illustration img:nth-of-type(2){
        margin: auto;
    }
    /* serie */
    #serie>div:first-of-type{
        display: grid;
        grid-template-rows: 1fr;
        margin: auto;
    }
    .videoplayer{
        margin-top: 100px;
        margin: auto;
        grid-row: 1;
        width: 100%;
    }
    .videoplayer video{
        display: block;
        width: 95%;
        margin: 0 auto;
        height: auto;
    }
    .desc{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    #serie h1,#serie h2,#serie p,#serie h3,.notation,.parametres{
        text-align: center;
        margin: 10px auto;
    }
    .version{
        margin: 0 auto;
    }
    #serie select{
        display: block;
        margin: 5px auto;
        outline: none;
        padding: 10px;
        background-color: #212121;
        color: #BBB;
        font-size: 20px;
    }
    #serie p{
        text-align: justify;
        max-width: 800px;
    }
    #grid{
        display: grid;
        grid-template-columns: minmax(max-content, 10px) minmax(50px, 300px);
    }
    #grid article,#grid aside{
        margin: auto 0;
    }
    #grid .reponse{
        margin-left: 80px;
    }
    #grid aside:first-of-type img{
        width: 100px;
        margin: auto;
    }
    .comments > #grid{
        margin: auto;
        display: block;
        width: 80%;
    }
    /* index */
    #index>img{
        display: block;
        width: 70%;
        margin: 250px auto 400px auto;
    }
    #index .container img{
        width: 70%;
        margin-left: 100px;
    }
    #index h2:first-of-type {
        display: inline-block;
        padding-bottom: 5px;
        position: relative;
        font-size: 20px;
    }
     article{
        text-align: center;
    }
    .recommandation article p{
        text-align: justify;
    }
    #index div{
        margin-right: 30px;
        display: grid;
        grid-template-columns: 1fr;
    }  
    #index .container aside:first-of-type{
        grid-row: 1;
    }
    #index .container aside:nth-of-type(2){
        grid-row: 3;
    }
    /* recherche */
    #recherche img{
        width: 300px;
    }
    #recherche article .hover{
        display: none;
        position: absolute;
        left: 0;
    }
    #recherche article{
        position: relative;
        max-width: 300px;
        margin: auto;
    }
    #recherche article:hover .hover {
        display: inline;
    }
    /* serie */ 
    #serie>div{
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width:1199px) and (min-width:993px){
    footer a{
        font-size: 15px;
        padding-left: 50px;
    }
    footer{
        text-align: center;
        margin: auto;
    }
    .container img{
        width:200px;
        margin: auto;
    }
    .container{
        margin: 50px;
    }
    .nouveautes,.action,.drames,.sf{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .flex div{
        margin: auto;
    }
    /* header */
    .nav-link{
        font-size: 120%;
    }
    nav img{
        width: 40px;
    }
    .search-container form{
        margin-right: 200px;
    }
    .tendance{
        margin-top: 150px;
    }
    /* parametres */
    .contenu{
        margin-top: 350px;
    }
    #parametres form{
        width:600px;
    }
}
@media screen and (min-width:576px){
    .container>a{
        margin: 15px 20px 0 0;
    }
}

@media screen and (min-width:1199px){
    /* header */
    .nav-link{
        font-size: 120%;
    }
    nav img{
        width: 40px;
    }

    .redbar{
        margin-top: 450px;
        width: 100%;
        height: 200px;
        background-color: #C60A28;
    }
        
    .illustration>img:first-of-type{
        width: 800px;
        position: absolute;
        top: 450px;
        left: 150px;
    }
    .illustration>img:nth-of-type(2){
        position: absolute;
        width: 200px;
        top: 450px;
        right: 300px;
    }
    .genre div{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }   
    footer{
        text-align: center;   
    }
    footer>nav:first-child>a{
        padding-left: 150px;
    }
    footer>nav{
        margin: 20px 0;
    }
    footer>nav:nth-child(2){
        padding-left: 20px;
    }
    .creators{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 50%;
        margin: auto;
    }
    .creators p{
        display: inline;
        font-size: 20px;
    }
    .creators p:nth-of-type(1)::after{
        content : " // ";
        font-weight: 800;
        color: #C60A28;
    }
    /* catalogue */
    #catalogue .container img{
        width: 150px;
    }
    .flex img,.hover{
        width: 150px;
    }
    .nouveautes,.action{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .nouveautes div, .action div{
        margin: 30px auto;
    }
    .drames{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .drames div{
        margin: 30px auto;
    }
    .categorie{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 100px;
    }
    .sf{
        display: grid;
        grid-template-columns: 1fr;
    }
    .sf div{    
        margin: 20px auto;
    }
    /* recherche */
    .rechercher{   
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 0 auto;
    }
    .rechercher article{   
        margin: 0 auto;
    }
    /* serie */
    #serie>div{
        display: grid;
        grid-template-columns: 70% 95%;
    }
    #serie>div .videoplayer{
        margin-left: 50px;
    }
    #serie h1,#serie h3{
        margin: 0;
    }
    #serie h1,#serie h2,#serie  h3,.intro>p,.rating,.watchlater{
        padding-left: 100px;
    }
    #serie select{
        margin: 30px 0 0 80px;
        outline: none;
        padding: 10px;
        background-color: #212121;
        color: #BBB;
        font-size: 20px;
    }
    .videoplayer{
        margin: auto;
    }
    .videoplayer video{
        height: auto;
        width: 110%;
    }
    .intro>p{
        max-width: 600px;
    }
    #grid{
        margin:auto;
        width: 50%;
        display: grid;
        grid-template-columns: minmax(max-content, 100px) minmax(200px, 1fr);
    }
    #grid article{
        grid-column: 2;
    }
    #grid article>form>textarea{
        padding: 10px;
    }
    #grid article>form>textarea{
        width: 500px;
    }
    #grid article>form>textarea+button{
        float: right;
    }
    #grid aside>img{
        width: 80px;
    }
    #grid p:first-of-type{
        width: 600px;
        font-weight: 200;
    }
    .comments{
        margin-top: 200px;
    }
    .comments textarea{
        padding: 10px;
    }
    /* parametres */
    #parametres form{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .sauvegarder{
        margin-top: 100px;
        grid-column: 1 / 3;
    }
    /* index */
    #index>img{
        display: block;
        width: 500px;
        margin: 250px auto 100px auto;
    }
    #index{
        max-width: 1300px;
        margin: auto;
    }
    #index h2:first-of-type {
        display: inline-block;
        padding-bottom: 5px;
        position: relative;
    }
    #index div{
        display: grid;
        grid-template-columns: repeat(2, 575px);
    }    
    #index section article:nth-of-type(even),.news article{
        display: block;
        text-align: right;
        margin-right: 30px;
    }
    #index .recommandation article:nth-of-type(odd){
        display: block;
        text-align: left;
        margin-left: 30px;
    }

    #index div:nth-child(odd) aside>img{
        float: right;
        width: 100%;
    }

    #index div:nth-child(even) aside>img{
        float: left;
        width: 100%;
    }
    .recommandation article:nth-of-type(odd) p, .recommandation article:nth-of-type(odd) h2, #index .recommandation article:nth-of-type(odd) h4{
        text-align: left;
        margin-left: 10px;
    }
    .recommandation article:nth-of-type(even) p{
        text-align: right;
    }
    #recherche img{
        width: 400px;
    }
    #recherche article .hover{
        display: none;
        position: absolute;
        top: 18.7px;
        left: 0;
    }
    #recherche article{
        position: relative;
    }
    #recherche article:hover .hover {
        display: inline;
    }
}


/*------FOOTER------*/

footer>nav:first-child>a>img{
    width: 130px;
}
footer>nav:nth-child(2)>a>img{
    width: 50px;
}
footer{
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    margin-top: 300px;
    padding-top: 10px;
}
footer>nav>a{
    color: #fff;
    text-decoration: none;
}
footer>h4{
    padding-top: 10px;
    text-align: center;
    border-top: solid 1px #565656;
    font-weight: 300;
    color: #565656;
}
footer>nav:nth-child(2) img:hover{
    transition: 0.2s;
    border-radius: 50px;
    background-color: #C60A28;
}
/* --------------- */