body{
    background-color: #000;
    background-image: url("../imgs/fond_Blur.png");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
  
    -webkit-font-smoothing: antialiased;
}
main,header{
    font-family: 'Poppins', sans-serif;    
}
header>nav>a:first-child>img{
    width: 200px;
}
header>nav>a:nth-child(n+3)>img{
    margin-top: 20px;
    padding: 0 20px;
    width: 40px;
}
header>nav>a:nth-child(n+3){
    float: right;
}
.nav-link {
    vertical-align: middle;
    font-weight: 200;
    font-size: 150%;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    margin: 0 25px;
    display: inline-block;
    position: relative;
}
  
.nav-link:hover {
    color: #C60A28;
}
.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #C60A28;
}
.nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    top: 0px;
}

.nav-link-grow-up:hover::before {
    height: 5px;
}
nav a{
    display: inline;
}

header form img{
    width: 40px;
    padding: 10px;
    border-radius: 40px;
}
header form img:hover{
    transition: 0.2s;

    background-color: #C60A28;

}
/*recherche*/
.search-container{
    margin: 20px;
    float: right;
}
nav input[type=text] {
    padding: 6px;
    font-size: 17px;
}
input:not(hover){
    background-color: #000;
    border:solid 2px #666;
    color: #666;
    border-radius: 30px;
}
input:focus,button:focus{
    outline: none;
}
input:focus{
    border:solid 2px #C60A28;
}
button{
    border: none;
    width: 50px;
    vertical-align: middle;
    background-color: transparent;
}
h2{
    color: #fff;
    font-weight: 800;
    font-size: 80px;
    font-variant: small-caps;
}
h3{
    color: #ddd;
    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
    font-size: 30px;
    font-weight: 100;
}
h4{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-variant: small-caps;
    font-size: 40px;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
}
/*Notation : https://codepen.io/s_crystal/pen/pJpMZX */
.rating {
    width: 150px;
    height: 30px;
    display: block;
    overflow: hidden;
    unicode-bidi: bidi-override;
    direction: rtl;
}
.rating:not(:checked) > input {
    display: none;
}
#like:not(:checked) > label {
    cursor:pointer;
    float: right;
    font-size: 40px;
    width: 30px;
    color: rgba(254, 152, 72, .4);
    line-height: 33px;
}
#like:not(:checked) > label:hover,
#like:not(:checked) > label:hover ~ label {
    color: rgba(254, 152, 72, 1);
}
#like > input:checked + label:hover,
#like > input:checked + label:hover ~ label,
#like > input:checked ~ label:hover,
#like > input:checked ~ label:hover ~ label,
#like > label:hover ~ input:checked ~ label {
    color: rgba(254, 152, 72, .8);
}
#like > input:checked ~ label {
    color: rgb(254, 152, 72);
}
/**/

.container {
    
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 20px 100px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
/*https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
label.container{
    color: #fff;
}

.checkmark {
    border: solid 2px #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #222;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #222;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 8px;
    left: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}
/**/

/* https://codepen.io/lonekorean/pen/RPZZPe */
.favoris input {
    display: none;
}
  
.favoris label {
    font-size: 20px;
    margin: 5px 20px;
    padding: 15px 30px 15px 62px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    width: 80%;
    text-align: center;
}
.favoris label::before{
    content:url("../imgs/heart.png");
    vertical-align: middle;
}

.favoris input:checked+label::before{
    content:url("../imgs/heartChecked.png");
}
.favoris input:checked+label{
    font-weight: 700;
}
  
.favoris input:checked + label {
    color: #C60A28;
}
  
.favoris input:checked  {
    background-color: #000;
} 

/**/
.rating,.favoris{
    display: inline-block;
}
@media screen and (min-width : 1500px){
    main>div:first-of-type{
        display: grid;
        grid-template-columns: 35% 65%;
    }
    h2,h4{
        margin: 0;
    }
    h2,h3,h4,p,.rating{
        padding-left: 100px;
    }
    select{
        margin: 30px 0 0 100px;
        outline: none;
        padding: 10px;
        background-color: #212121;
        color: #BBB;
        font-size: 20px;
    }
    .videoplayer{
        margin: auto;
    }
    .videoplayer video{
        height: auto;
        width: 97%;
    }
    p{
        max-width: 500px;
    }
}
@media screen and (min-width: 1200px) and (max-width:1499px){
    main>div:first-of-type{
        display:grid;
        grid-template-columns: 550px 750px;
    }
    h2,h3,h4,p,.rating{
        padding-left: 20px;
    }
    p{
        max-width: 500px;
    }
    .videoplayer video{
        display: block;
        padding-top: 100px;
        width: 100%;
        height: auto;
    }
    select{
        display: block;
        margin: 10px auto;
        outline: none;
        padding: 10px;
        background-color: #212121;
        color: #BBB;
        font-size: 20px;
    }
}

@media screen and (max-width : 1199px){
    main>div:first-of-type{
        display: grid;
        grid-template-rows: 1fr;
    }
    .videoplayer{
        grid-row: 1;
    }
    .videoplayer video{
        display: block;
        width: 95%;
        margin: 0 auto;
        height: auto;
    }
    .desc{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    h2,h3,p,h4,.notation,.favoris{
        text-align: center;
        margin: 10px auto;
    }
    .version{
        margin: 0 auto;
    }
    select{
        display: block;
        margin: 10px auto;
        outline: none;
        padding: 10px;
        background-color: #212121;
        color: #BBB;
        font-size: 20px;
    }
    p{
        text-align: justify;
        max-width: 800px;
    }
}
@media screen and (max-width:999px){
    main>div{
        width: 80%;
        margin: 0 auto;
    }
}
