body{
    background-color: #000;
    background-image: url("../imgs/karen-zhao-jLRIsfkWRGo-unsplash.jpg");
    background-size: 80%;
    background-position: top;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color:#C60A28;
    margin-top:150px;
}
h3,h5{
    font-size: 20px;
    font-weight: 400;
    color:#fff;  
    text-align: center;
    margin: auto;
    max-width: 500px;
}
h6{
    font-size: 35px;
    font-weight: 400;
    color:#777;  
    text-align: center;
    letter-spacing: .1em;
    margin: auto;
    max-width: 500px;
    font-variant: small-caps;
}


div>p{
    color: #fff;
}

@media screen and (min-width:1199px){
    .redbar{
        margin-top: 500px;
        width: 100%;
        height: 200px;
        background-color: #C60A28;
    }
    
    .illustration>img:first-of-type{
        width: 800px;
        position: absolute;
        top: 550px;
        left: 150px;
    }
    .illustration>img:nth-of-type(2){
        position: absolute;
        top: 550px;
        right: 300px;
    }
    .genre{
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .creators{
        margin: 50px auto; 
        width: 50%;
        display: grid;
        grid-template-columns: repeat(2,1fr);   
    }
    .creators p:nth-child(n+2){
        display: inline;
        font-size: 20px;
    }
    .creators p:nth-child(2)::after{
        content : " // ";
        font-weight: 800;
        color: #C60A28;
    }
    .creators div{
        text-align: center;

        margin: 50px auto;  
    }
    footer{
        text-align: center;   
    }
    footer>nav:first-child>a{
        padding-left: 150px;
    }
    footer>nav{
        margin: 20px 0;
    }
    footer>nav:nth-child(2){
        padding-left: 20px;
    }
}


@media screen and (max-width:1199px){
    div>img{
        display: block;
        margin: 50px auto;
    }
    .illustration>img:first-of-type{
        width:75%;
    } 
    .illustration>img:nth-of-type(2){
        width: 25%;
    } 
    .creators{
        margin: 50px auto; 
        width: 50%;
        display: grid;
        grid-template-columns: 1fr;   
    }
    .genre{
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .creators p:nth-child(n+2){
        display: inline;
        font-size: 20px;
    }
    .creators p:nth-child(2)::after{
        content : " // ";
        font-weight: 800;
        color: #C60A28;
    }

    footer>nav:first-child{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;       
    }
    footer>nav>a{
        line-height: 2.5em;
        grid-template-columns:1fr;
        margin: 0 auto;  
        text-align: center;     
    }
    footer>nav:nth-child(2){
        text-align: center;
    }
}